.send-recipe {
  background: #82589f;
  height: 500px;
  color: #f1f1f1;
  background-image: url('../../assets/images/section-send-recipe.jpg');
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.4);

  h2 {
    font-size: 40px;
  }
}

.content {
  background: linear-gradient(to bottom right, rgb(8 26 68 / 60%), #958f4e);
}