@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: 940px;
}

.container {
  @include container;
  padding: $container-padding;
}



h1, h2, h3 {
  font-family: 'DM Sans', 'Helvetica', 'Arial', serif;
}

strong {
  font-weight: 700;
}