
:root {
  
  
  --container-width: 940px;
}

.container {
  @include container;
  padding: $container-padding;
}

body {
  font-family: 'Roboto', 'DM Sans', 'Helvetica', 'Arial', serif;
}

h1, h2, h3 {
  font-family: 'DM Sans', 'Helvetica', 'Arial', serif;
}

strong {
  font-weight: 700;
}