
:root {
  --keppel: #58B19F;
  --spiro: #25CCF7;
  --sarawak: #F8EFBA;
  --falling: #CAD3C8;
  --lake: #82589F;
  --ending: #182C61;

  --radius: 8px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Playfair Display', 'Helvetica', 'Arial', serif;
}