.search-bar {
  margin-top: 40px;
  font-size: 16px;

  input {
    font-size: inherit;
    padding: $main-padding;
    border-radius: $main-radius;
    height: $input-height;
    flex: 5;
  }
}

.form {
  display: flex;
  gap: $main-gap;
  flex-wrap: wrap;
}

.button {
  flex: 1;
}