
$size-icon: 26px;

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 10px #ccc;

  @media (min-width: $tablet) {
    position: initial;
    width: auto;
    box-shadow: none;

    svg {
      display: none;
    }
  }
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
    flex-direction: row;

  a {
    color: $ending;
    font-weight: bold;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1.2px;

    &:hover {
      opacity: .8;
    }
  }
}

.link {
  svg {
    width: $size-icon;
    height: $size-icon;
  }
}

.link-label {
  display: none;

  @media (min-width: $tablet) {
    display: inline-flex;
  }
}