.navbar-list {
  display: flex;
  gap: 50px;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  flex-wrap: wrap;

  a {
    color: $ending;
    font-weight: bold;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1.2px;

    &:hover {
      opacity: .8;
    }
  }
}