.footer {
  background: linear-gradient(to right bottom, $keppel, $ending);
  color: #f3f3f3;
  padding: 50px 0;
  margin-top: 100px;
}
.container {
  @include container;
  padding: $container-padding;
  text-align: center;
}

.sitemap {
  text-align: center;

  ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 40px 0;
    font-size: 14px;

    a {
      color: white;

      &:hover {
        opacity: .7;
      }
    }
  }
}
