.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(300px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.title-list {
  margin-bottom: 30px;
  font-size: 30px;
}

.link-all-recipes {
  background-color: teal;
}