$main-padding: 10px 20px;
$main-radius: 8px;

$main-gap: 15px;

/* ==== COLOR PALLETE ==== */

$keppel: #58b19f;
$spiro: #25ccf7;
$sarawak: #f8efba;
$falling: #cad3c8;
$lake: #82589f;
$ending: #182c61;

/* ==== INPUT AND BUTTON SIZES ==== */

$input-height: 44px;

/* ==== Container ==== */

$container-padding: 60px 15px;